{{#if template}}
<template>
  <div class="{{name}}">{{ name }}</div>
</template>
{{/if}}

{{#if script}}
<script>
export default {
  name: '{{ componentName }}',
  props: {},
  data() {
    return {}
  },
  created() {},
  mounted() {},
  methods: {}
};
</script>
{{/if}}

{{#if style}}
<style lang="less">

</style>
{{/if}}
